.profile {
    width: 90%;
    margin: 35px auto;

    h1 {
        font: {
            weight: bold;
            size: 50px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 30px;
        }
    }

    .location {
        color: grey;
        font-size: 30px;

        @media screen and (max-width: $mobile) {
            font-size: 20px;
        }
    }

    .quote {
        font: {
            size: 30px;
            family: $textFont;
        }

        .blockquote {
            color: grey;
            font-style: italic;
            border-left: 10px solid $themeColor;
            padding-left: 15px;
            margin-left: 40px;

            @media screen and (max-width: $mobile) {
                margin-left: 30px;
            }
        }

        @media screen and (max-width: $mobile) {
            font-size: 15px;
        }
    }



}