.profilePic {
    background-image: url(../images/profilepic.JPG);
    background-repeat: no-repeat;
    border: 5px solid white;
    border-radius: 50%;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 2;

    @media screen and (max-width: $mobile) {
        width: 150px;
        height: 150px;
        left: 50%;
        transform: translate(-50%);
    }
}