$themeColor: rgb(37, 201, 173);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$textFont: 'Source Sans Pro',
sans-serif;


@import 'profile';
@import 'header';
@import 'navbar';
@import 'profilepic';
@import 'gallery';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}